<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="vishal.master_hackthon">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.hardware.gps"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".Notification.NotificationIntentService"
            android:enabled="true"
            android:exported="false"/>

        <receiver android:name=".Notification.NotificationEventReceiver"/>
        <receiver android:name=".Notification.NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".exam_center_university_School_Name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Upload_to_server"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Faculty_evaluators_login_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Faculty_evaluators_OSDS"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Geo_tag_exam_conduct"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Geo_Tag"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Payment_Status"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Faculty_evaluators_count_down"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".NotificationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".exam_center_university_School_Login"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Exam_center_university_details"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>